#oversigtskortOgBeskrivelse p {
  margin-top: 2rem;
}

.oversigtskortOverskift {
  font-size: 1.5rem;
  color: $primaryGreen;
  text-align: center;
  margin: 2rem;
}

.oversigtskortCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.oversigtskortCards div {
  background-color: $white;
  margin: 1rem;
  border-radius: 10px;
  height: 80%;
  display: flex;
  align-items: center;
  padding: 1.5rem;
}

.oversigtskortCards div p {
  font-size: 13px;
}

.oversigtskortCards div span,
.oversigtskortCards div i {
  color: $secondaryGreen;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-right: 0.5em;
}

#oversigtskortIMG {
  width: 100%;
  height: auto;
  object-fit: contain;
  position: relative;
}

.prik {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: $accentHover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prik span {
  font-weight: bold;
  color: $greenBlack;
  font-size: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facilitet span i {
  font-size: 1.1rem;
}

#popUpBoks {
  position: absolute;
  background-color: white;
  color: black;
  border-radius: 5px;
  display: none;
  z-index: 1;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  width: 250px;
}
.aktivitet {
  background-color: red;
}

.prik1 {
  left: 22%;
  top: 105%;
}

.prik2 {
  left: 15%;
  top: 80%;
}

.prik3 {
  left: 20%;
  top: 48%;
}

.prik4 {
  left: 25%;
  top: 60%;
}

.prik5 {
  left: 26%;
  top: 65%;
}

.prik6 {
  left: 26%;
  top: 80%;
}

.prik7 {
  left: 29%;
  top: 80%;
}

.prik8 {
  left: 29%;
  top: 65%;
}

.prik9 {
  left: 33%;
  top: 81%;
}

.prik10 {
  left: 33%;
  top: 75%;
}

.prik11 {
  left: 33%;
  top: 70%;
}

.prik12 {
  left: 34%;
  top: 65%;
}

.prik13 {
  left: 47%;
  top: 50%;
}

.prik14 {
  left: 40%;
  top: 41%;
}

.prik15 {
  left: 54%;
  top: 38%;
}

.prik16 {
  left: 60%;
  top: 45%;
}

.prik17 {
  left: 75%;
  top: 74%;
}

.prik18 {
  left: 60%;
  top: 69%;
}

.prik19 {
  left: 60%;
  top: 79%;
}

.prik20 {
  left: 54%;
  top: 65%;
}

.prik21 {
  left: 56%;
  top: 70%;
}

.prik22 {
  left: 47%;
  top: 36%;
}

.prik23 {
  left: 45%;
  top: 90%;
}

.prik24 {
  left: 45%;
  top: 95%;
}

.prik25 {
  left: 50%;
  top: 70%;
}

.prik26 {
  left: 28%;
  top: 55%;
}

.prik27 {
  left: 52%;
  top: 85%;
}

.prik28 {
  left: 48%;
  top: 95%;
}

.prik29 {
  left: 41%;
  top: 120%;
}

.prik30 {
  left: 44%;
  top: 120%;
}

.prik31 {
  left: 47%;
  top: 120%;
}

.prik32 {
  left: 47%;
  top: 65%;
}

.prik33 {
  left: 33%;
  top: 113%;
}

.prik34 {
  left: 40%;
  top: 112%;
}

@media screen and (max-width: 768px) {
  .prik {
    width: 15px;
    height: 15px;
  }
}
